@import "styles/mixins"
@import "styles/variables"

.inputWrapper
  position: relative

.input
  @include customInput

.error
  border: $redErrorBorder

.errorMessage
  bottom: -20px
  color: $red
  left: 0
  position: absolute
