@import "styles/variables"

.button
  border: none
  border-radius: 5px
  cursor: pointer
  display: inline-block
  font-size: 14px
  padding: 10px
  text-align: center
  transition: .3s

.primary
  background-color: $primary
  color: $white

  &:hover
    background-color: $primaryHover

.ghost
  background: none
  border: $grayLightBorder
  color: $black

  &:hover
    background-color: $primary
    color: $white
    border: none
