@import "styles/variables"

.star
  display: inline-block

  svg
    margin-right: 5px

.filledStar svg
  fill: $primary

.editable
  cursor: pointer

.ratingWrapper
  position: relative

.errorMessage
  bottom: -20px
  color: $red
  left: 0
  position: absolute

.error svg
  stroke: $red
