@import "styles/variables"

.sort
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 40px
  transition: .3s

  &__icon
    opacity: 0
    margin-right: 8px
    transition: .3s

  button
    display: grid
    grid-template-columns: 20px 1fr
    align-items: center
    gap: 8px
    cursor: pointer
    background: none
    font-size: 16px
    line-height: 22px

.active
  color: $primary

  .sort
    &__icon
      opacity: 1

@media screen and (max-width: $middle)
  .sort
    gap: 20px

    button
      font-size: 14px