$mainFontFamily: 'Noto Sans KR', sans-serif

$black: #3B434E
$white: #FFF
$primary: #7653FC
$primaryHover: #6344DF
$background: #F5F6F8
$red: #DE0000
$redLight: #FC836D
$green: #1DC37E
$greenLight: #C8F8E4
$grey: #B3C0D9
$greyLight: #EBEBEB
$greyDark: #787D85
$blue: #F9F8FF
$inputPlaceholder: #A4A4A4

$greyLightBorder: 1px solid $greyLight
$primaryBorder: 1px solid $primary
$greyMenuBorder: 1px solid #DFDFDF

$x-large: 1320px
$large: 1080px
$middle: 920px
$small: 640px
$x-small: 480px
